/* Fonte */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
/* CSS header */
header {
    background: linear-gradient(#72c2f4,#009ccf);
    padding-top: 15px;
}
.cabecalho {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
#logo:hover {
    transition: 1s;
    transform: scale(1.1);
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin-left: 15px;
}
nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}
nav a:hover {
    transition: 0.2s;
    color: #e54516;
    text-decoration: underline;
}
/* CSS home */
#banner {
    width: 100%;
    height: auto;
}
.home {
    background: linear-gradient(#c18f6e, #dba053, #760f00);
}
.principal {
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}
.titulo-principal {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}
#utensilios {
    width: 120px;
    height: 120px;
    float: left;
    margin: auto 15px 15px auto;
    border: 1px solid #781500;
}
#utensilios:hover {
    transition: 0.5s;
    box-shadow: 3px 3px 3px #781500;
    opacity: 75%;
}
.principal p {
    text-align: left;
    margin: 10px;
}
strong {
    font-weight: bold;
}
#missao {
    font-size: 22px;
}
#missao strong {
    font-style: italic;
    font-weight: bold;
    color: #1d3557;
}
.localizacao {
    padding: 3rem 0;
}
.localizacao p {
    margin-bottom: 2rem;
    text-align: center;
}
.mapa {
    width: 940px;
    margin: 0 auto;
}
.beneficios {
    padding: 3em 0;
}
.conteudo-beneficios {
    width: 640px;
    margin: 10px auto;
}
.lista-beneficios {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
.itens {
    line-height: 1.5;
    font-style: italic;
}
.itens:first-child {
    font-weight: bold;
}
.itens:before {
    font-weight: bold;
    content: "\2730";
}
#imagem-beneficios {
    opacity: 75%;
    width: 50%;
    height: auto;
}
#imagem-beneficios:hover {
    transition: 0.5s;
    opacity: 100%;
    box-shadow: 10px 12px 5px #781500;
}
.video {
    width: 560px;
    margin: 3rem auto;
}
/* CSS produtos */
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 15px;
    box-sizing: border-box;
    border: 2px solid #dba053;
    border-radius: 10% 25%;
    text-align: center;
}
.produtos li:hover {
    transition: 0.5s;
    border-color: #781500;
}
.produtos li:hover h2 {
    transition: 0.5s;
    font-size: 30px;
}
.produtos li:hover .produtos-preco {
    transition: 0.5s;
    font-size: 25px;
}
.produtos li:active {
    transition: 0s;
    border-color: #a77d4d;
}
.produtos h2 {
    font-size: 25px;
    font-weight: bold;
}
.produtos-descricao {
    text-align: center;
}
.produtos-preco {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
/* CSS contato */
form {
    width: 940px;
    margin: 0 auto;
}
form p {
    text-align: left;
    font-size: 14px;
    font-style: italic;
    padding: 2em 0;
}
form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
}
textarea {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
legend {
    padding: 15px 0 5px;
}
select {
    width: 10%;
    text-align: center;
}
.checkbox {
    margin: 20px 0;
}
.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: #e54516;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.enviar:hover {
    transition: 0.5s;
    background-color: #781500;
    transform: scale(1.1);
}
table {
    background-color: white;
    margin: 2rem auto;
    box-shadow: 5px 10px 5px #988b7b;
    width: 940px;
}
thead {
    background-color: #009ccf;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
th, td {
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
}
footer {
    text-align: center;
    background-image: url(../img/bg.jpg);
    padding: 15px 0px;
}
.redes a {
    margin: 0 10px;
    text-decoration: none;
}
.redes img:hover {
    transition: 0.5s;
    transform: scale(1.1);
    opacity: 60%;
}
.copyright {
    font-size: 13px;
    color: white;
    margin-top: 15px;
}
/* Media queries */
@media screen and (max-width: 825px) {
    body {
        font-size: 16px;
    }
    .cabecalho, .principal, .mapa, .conteudo-beneficios, .video, 
    .produtos, form {
        width: auto;
    }
    /* Header */
    header {
        padding: 5px 0;
    }
    .cabecalho {
        text-align: center;
    }
    nav {
        position: static;
    }
    nav a {
        font-size: 20px;
    }
    nav a:active {
        color: #e54516;
        text-decoration: underline;
    }
    /* Home */
    .principal {
        padding: 1rem 0;
        margin: auto 1rem;
    }
    .titulo-principal {
        font-size: 20px;
    }
    #utensilios {
        width: 100px;
        height: 100px;
        margin: 0 1rem;
        box-shadow: 3px 3px 3px #781500;
    }
    #missao {
        font-size: 18px;
    }
    .localizacao {
        margin: 1rem;
        padding: 0;
    }
    .beneficios {
        text-align: center;
        padding: 1rem 0;
        margin: 1rem;
    }
    .lista-beneficios {
        width: 100%;
        margin-bottom: 1rem;
    }
    #imagem-beneficios {
        width: 100%;
        opacity: 100%;
        box-shadow: 6px 8px 4px #781500;
    }
    /* Produtos */
    .produtos {
        text-align: center;
    }
    .produtos li {
        display: inline-block;
        width: 75%;
        margin: 1rem 2rem;
    }
    .produtos-descricao {
        font-size: 18px;
    }
    /* Contato */
    form {
        margin: 0 20px;
    }
    form p {
        font-size: 12px;
    }
    form label, form legend {
        font-size: 16px;
    }
    .input-padrao {
        padding: 5px 10px;
        width: 80%;
    }
    textarea {
        padding: 5px 10px;
        width: 85%;
    }
    select {
        width: 30%;
    }
    .enviar {
        width: 60%;
    }
    table {
        margin: 20px;
        width: 70%;
    }
    thead {
        font-size: 16px;
    }
    th, td {
        font-size: 14px;
        padding: 7px 14px;
    }
}